.projetos-container {
	max-width: 1200px;
	padding: 0 20px;
	padding-bottom: 120px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	position: relative;
}

.projeto-lista {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.projeto-titulo {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.projetos-lista {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.projetos-lista a {
	display: flex;
	justify-content: center;
}

.projetos-texto {
	font-size: 2rem;
	line-height: 1.33;
	max-width: 42ch;
	margin: 0 auto;
	margin-bottom: 60px;
	color: #222222;
	text-align: center;
}
.projetos-thumb {
	display: flex;
	border-radius: 5px;
	max-width: 20rem;
}

@media (max-width: 800px) {
	.projetos-container {
		padding-bottom: 1.5rem;
	}

	.projetos-texto p {
		display: flex;
		flex-direction: column;
		word-break: break-word;
	}
	.projetos-lista {
		flex-direction: column;
		align-items: center;
	}
}
