@media (max-width: 1366px) {
  body {
    width: 1200px;
    height: 530px;
    padding: 60px;
    overflow: hidden;
    background-color: #f3f5fc;
    font-family: "Inter", sans-serif;
    display: flex;
  }
}

@media (max-width: 720px) {
}

@media (max-width: 420px) {
  #conteudo {
    display: none;
  }

  #logo {
    width: 120px;
  }
}
